/node_modules
/public/hot
/public/storage
/public/web/images/game
/public/.setting.php
/public/start.html
/storage/*.key
.env
.env.backup
README.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/fronted
/webfronted
webfronted.zip
/.idea
http-client.env.json